@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

#logo {
    width: 75px;
    margin: 30px;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;    
    font-size: 26px;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3 {
    margin-left: 40px;
}

.nav-main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav-items{
    padding: 20px;
    flex-grow: 0.8;
    align-items: center;
}

nav > a {
    font-size: 24px;
    color:  #3a2749;
    border-radius: 40px;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 800;
    text-decoration: none;
    position: relative;
    transition: color 2s ease;
}

nav > a:active {
    background-color: #F3E2FF;
}
  
nav > a:hover {
    color: white;
    background-color: #cdafe2;
    transition: background-color 1.8s ease;
    border-radius: 40px;
    padding: 10px 30px;
}

#home-tags{
    display:flex;
    flex-wrap: wrap;
    justify-items: first baseline;
    gap: 20px;
    padding: 20px;
}

@keyframes opacityFade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.tag{
    color: white;
    border-radius: 40px;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 24px;
}

#tag1{
    background-color: #E65969; 
}

#tag1:hover{
    background-color: #f17381; 
}

#tag2{
    background-color: #F09163;
    color:white;
    text-decoration: none;
}

#tag2 > a:visited{
    text-decoration: none;
    color:white;
}

#tag2:hover{
    background-color: #f7aa84;
}

#tag3{
    background-color: #7CB49D;
}

#tag3:hover{
    background-color: #93ccb4;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-right:60px;
    flex-direction: row;
}


#background-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 60px;
    margin-right:60px;
    flex-direction: column;
}

#aboutpic{
    padding: 50px;
}

#abouttext{
    padding: 50px; 
    flex-grow: 2;
}

/*Following is from https://forum.squarespace.com/topic/195193-bouncing-scroll-down-indicator-in-squarespace-71/*/
.arrow {
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%,-50%);
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 3px solid #000;
    border-right: 3px solid #000;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 1.8s ease infinite;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

h1{
    font-weight: 200;
    margin-left: 30px;
    padding-top: 50px;
    font-size: 50px;
}

h2{
    font-weight: 200;
    padding-top: 50px;
    font-size: 36px;
}

#background{
    background-color: #FBEBED;
    width: 100vw;
    height:100vh;
    scroll-snap-align: start;
    overflow: hidden;
}

#backgroundnosnap{
    background-color: #FBEBED;
    width: 100vw;
    height:100vh;
    overflow: hidden;
}

.container{
    height:100vh;
    display: flex;
    background-color: #ffafa4;
    scroll-snap-align: start;
    align-items: center;
    justify-content: center;
}

.containernosnap{
    height:100vh;
    display: flex;
    background-color: #ffafa4;
    align-items: center;
    justify-content: center; 
}

.casestudies{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;  
}

.casestudiesnosnap{
    height:100vh;
}

.studytitle{
    justify-content: flex-start;
}

.studycover{
    height: 300px;
    width: auto;
    z-index: 2 ;
}

#google {
    background-color: rgb(200, 217, 235);
}

#tinder {
    background-color: pink;
}

#rimsys {
    background-color: rgb(189, 188, 232);
}

#hhelper {
    background-color: rgb(161, 217, 244);
}

button{
    border: #ffafaf solid 2px;
    font-size: 20px;
    border-radius: 30px;
    font-weight: 700;
    padding: 10px 20px 10px 20px;
}

button:hover{
    cursor: pointer;
    background-color: white;
}

